.button-container {
	display: flex;
	background: rgba(242, 242, 242, 0.8);
	width: 500px;
	height: 40px;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	top: 20px; /* distância do topo */
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50px;
	box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.button {
	outline: 0 !important;
	border: 0 !important;
	padding: 0.5rem 1.5rem;
	border-radius: 20px;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
	font-size: 14px;
	transition: all ease-in-out 0.4s;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
}

.button:hover {
	background-color: #e6e6e6;
}
